// src/styles/variables.scss

// 主题色 (比如这里的蓝色)
$primary-color: #409eff;
$success-color: #67c23a;
$danger-color: #f56c6c;

// 布局尺寸
$sidebar-width: 200px;
$header-height: 60px;

// 背景色
$bg-color-base: #f5f7fa;
